@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.App {
  text-align: center;
  font-family: helvetica;
  background-color: #353b48;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  color: #bdc3c7 !important;
}

.nav-link,
.navbar-brand {
  color: #bdc3c7 !important;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.9));
  font-weight: bold !important;
}

.nav-link {
  padding-top: 15% !important;
}

.text-wrap-balance {
  text-wrap: balance;
}

.heroText {
  mix-blend-mode: color-dodge;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.heroText h1 {
  font-size: max(5vw, 6vh);
  line-height: 0.75em;
}

.heroText p {
  font-size: max(2.5vw, 3.5vh);
}
