@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap");

.App {
  text-align: center;
  font-family: helvetica;
  background-color: #353b48;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  color: #bdc3c7 !important;
}

.nav-link,
.navbar-brand {
  color: #bdc3c7 !important;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.9));
  font-weight: 900;
}

.navbar-brand h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900 !important;
}

.nav-link {
  padding-top: 15% !important;
}

.text-wrap-balance {
  text-wrap: balance;
}

.heroText {
  mix-blend-mode: difference;
  filter: invert(1) hue-rotate(245deg) brightness(1.5);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.heroText h1 {
  font-size: max(10vw, 11vh);
  line-height: 0.75em;
  letter-spacing: calc(-0.05 * max(10vw, 10vh));
  font-weight: 900;
}

.heroText p {
  font-size: max(5vw, 4vh);
}

.projectBox {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: left 1s, opacity 0.5s;
  text-align: left;
  padding: 5%;
  padding-bottom: 0;
}

.projectBoxContent {
  overflow-y: scroll;
  max-height: 100%;
  position: relative;
  padding-bottom: 20px;
}

.projectBox h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.projectBox h2 {
  font-weight: 900;
}

.projectBox h3 {
  font-weight: 700;
  font-style: italic;
}

.projectsCarousel {
  width: 100vw;
  height: 50dvh;
  position: relative;
  overflow: hidden;
  /* background-color: white; */
}

.carouselContent {
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
}

.carouselControls {
  position: absolute;
  /* scale: 3; */
  font-size: 45px;
  bottom: 15px;
  left: 50%;
  translate: -50%;
  color: #bdc3c7 !important;
  z-index: 1;
}

.carouselControls .carouselControlButton {
  cursor: pointer;
}

.fadeBottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40px;
  background: linear-gradient(rgba(26, 29, 35, 0), rgba(26, 29, 35, 1) 90%);
}

.sectionTitle {
  width: 100%;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid;
}
